.main-contacto{
    // ORACIONES
    .oraciones-main{
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
        font-family: 'Cabin', sans-serif;
        font-family: 'Libre Baskerville', serif;
    } 
    // BOTON NEON
    .container-span{
        display: flex;
        justify-content: center;
        align-items: center;
        .btn-neon {
            background-color: #27a6e091;
            position: relative;
            display: inline-block;
            padding: 15px 30px;
            color: #fff;
            letter-spacing: 4px;
            text-decoration: none;
            font-size: 24px;
            overflow: hidden;
            transition: 0.2s;
            border-radius: 7%;
            &:hover {
                background: #11c93f8f;
                box-shadow: 0 0 10px #27a6e091, 0 0 40px #27a6e091, 0 0 80px #27a6e091;
                transition-delay: 1s;
                #span1 {
                    left: 100%;
                    transition: 1s;
                }
                #span3 {
                    right: 100%;
                    transition: 1s;
                    transition-delay: 0.5s;
                }
                #span2 {
                    top: 100%;
                    transition: 1s;
                    transition-delay: 0.25s;
                }
                #span4 {
                    bottom: 100%;
                    transition: 1s;
                    transition-delay: 0.75s;
                }
            }
            span {
                position: absolute;
                display: block;
            }
        }
        #span1 {
            top: 0;
            left: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, transparent,#ffffff);
        }
        #span3 {
            bottom: 0;
            right: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(270deg, transparent,#ffffff);
        }
        #span2 {
            top: -100%;
            right: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(180deg,transparent,#ffffff);
        }
        #span4 {
            bottom: -100%;
            left: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(360deg,transparent,#ffffff);
        }
    }
    // GOOGLE MAPS
    .map-responsive{
        margin: 10px;
        margin-bottom:50px;
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
        iframe{
            left:0;
            top:0;
            height:100%;
            width:100%;
            position:absolute;
        }
    }
}
