
.main-form{
    div{
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0px;
        h4{
            text-align: center;
            background-color: rgba(23, 196, 219, 0.295);
            margin-left: 50px;
            margin-right: 50px;
        }
    }
    h6{
        text-align: center;
    }
    h6{
        text-align: center;
    }
}