
.main-quiensoy{
    text-align: center;
    .qs-vd{
        text-align: center;
        margin-top: 50px;
    }
    .p3{
        font-size: 17px;
        padding-top: 30px;
        margin: 60px;
        letter-spacing: 1px;
        word-spacing: 10px;
        line-height: 30px;
    }
}